/* *{
    margin: 0;
    padding: 0;
} */
*{
    box-sizing: border-box;
}

body{
    background-color: #333;
    color: #fff;
    margin: 0;
}

.header{
    background-color: red;
    height: 50px;
}

.title{
    width: 300px;
    background-color: lightcoral;
    margin-left: auto;
    margin-right: auto;
}

.block{
    background-color:purple;
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    /* margin: 0 auto; */
    margin-left: auto;
    margin-right: auto;
    padding-right: 50px 20px 100px 70px;
    box-sizing: border-box;
    border: 5px solid red;
}

.inline{
    background-color: lightcoral;
    color: inherit;
    /* padding-left: 100px; */
}
.buttons{
    background-color: steelblue;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
}

.button{
    margin-left: 90px;
    padding: 25px 50px;
    border: 20px solid red;
    border-width:  20px;
    border-style: solid;
    border-color: red;
    border-right-color: red;
    border-right-width: 30px;
    border-style: outset;
}